/* * Media queries good down to 245px */

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-auto-rows: max-content;
    background: rgb(35, 89, 22);
    background: linear-gradient(146deg, rgba(35, 89, 22, 1) 0%, rgba(96, 168, 34, 1) 71%, rgba(0, 255, 94, 1) 100%);
    color: #000814;
    font-family: "Rubik", sans-serif;
}

body.night {
    background: rgb(5, 14, 3);
    background: linear-gradient(146deg, rgba(5, 14, 3, 1) 10%, rgba(13, 34, 8, 1) 71%, rgba(5, 43, 8, 1) 95%);
}

/* ! Main wording */
h1 {
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 40px;
    font-weight: 450;
    color: #000814;
    width: 400px;
    text-align: center;
    justify-self: center;
    height: calc(120px - 40px);
    grid-column: span 2;
}

h1.night {
    color: #e9edc9;
    font-weight: 300;
}

img {
    margin: 45px 20px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    filter: brightness(90%);
}

img.night {
    filter: brightness(60%);
}

h4 {
    font-size: 1.2rem;
    margin: 30px 100px;
    color: #000814;
    font-weight: 350;
    text-align: justify;
}

h4.night {
    color: #e9edc9;
    font-weight: 200;
}

.wording p {
    margin: 0;
}

/* ? Media queries for main wording */

@media (max-width: 1100px) {
    h4 {
        margin: 30px 40px;
    }
}

/* * Moving picture underneath text */
@media (max-width: 950px) {
    h4 {
        grid-column: span 2;
        margin: 20px 40px;
    }

    img {
        grid-column: span 2;
        justify-self: center;
        margin: 20px;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 3rem;
        margin-top: 30px;
        height: calc(80px - 30px)
    }

    h4 {
        font-size: 1.1rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 2.5rem;
        margin-top: 25px;
        height: calc(75px - 25px);
    }

    h4 {
        margin: 10px 30px;
        font-size: 1rem;
    }

    img {
        margin: 10px;
        height: 250px;
    }
}

@media (max-width: 525px) {
    img {
        margin-bottom: 60px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 2rem;
        margin-top: 20px;
        height: calc(55px - 20px);
    }

    h4 {
        margin: 10px;
    }
}

/* * Dropping down so that external links can fit above */
@media (max-width: 400px) {
    h1 {
        width: 100vw;
        margin-top: 65px;
        height: calc(90px - 55px);
    }
}

@media (max-width: 305px) {
    img {
        height: 200px;
    }
}

/* ! Night mode toggle */
.daynight {
    height: 25px;
    width: 120px;
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 2px black solid;
    border-radius: 4px;
    z-index: 5;
    cursor: pointer;
}

.daynight p {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.daynight p.night {
    color: #e9edc9;
}

.toggle {
    height: 25px;
    width: 60px;
    background-color: #023047;
    position: absolute;
    transition: 0.3s;
    left: 60px;
    border-radius: 2px;
    z-index: 5;
}

.toggle.night {
    background-color: #001219;
}

.moved {
    translate: -60px;
}

/* ? Media queries for night mode toggle */

@media (max-width: 800px) {
    .daynight {
        width: 100px;
        height: 20px;
        font-size: 0.9rem;
    }

    .toggle {
        height: 20px;
        width: 50px;
        left: 50px;
    }

    .moved {
        translate: -50px;
    }
}

/* ! External links */
.links {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.iconcard {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 60%;
    transition: 0.2s;
    position: relative;
    z-index: 5;
}

.iconcard.night {
    color: #e9edc9;
}

.iconcard:hover {
    opacity: 100%;
}

.iconcard a {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* ? Media queries for external links */

/* * Moving to horizontal */
@media (max-width: 1200px) {
    .links {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
}

/* * Splitting icons to either side of title */
@media (max-width: 650px) {
    .links {
        width: calc(100vw - 30px);
        grid-template-columns: 45px 45px auto 45px;
    }

    .iconcard {
        justify-self: right;
    }
}

@media (max-width: 425px) {
    .iconcard {
        transform: scale(0.8);
    }
}

@media (max-width: 400px) {
    .links {
        grid-template-columns: repeat(4, 1fr);
    }

    .iconcard {
        justify-self: center;
    }
}

/* ! Burger and sidebar code */
/* ? Burger */
.burger {
    position: fixed;
    left: 17px;
    bottom: 17px;
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-bottom: 4px;
    opacity: 70%;
    transition: 0.4s;
    z-index: 5;
    cursor: pointer;
}

/* ? Media query for burger to make it more seethrough when overlapping main content */
@media (max-width: 1100px) {
    .burger {
        opacity: 20%;
    }
}

.hidden {
    opacity: 0%;
}

.burger:hover {
    opacity: 100%;
    background-color: black;
    height: 60px;
    width: 60px;
    font-size: 1.7em;
    color: white;
}

.burger.night:hover {
    color: #e9edc9;
}

/* ? Sidebar */
.sidebar {
    width: 25vw;
    height: 100%;
    background-color: white;
    overflow: hidden;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 60px 60px calc(100vh - 120px);
    opacity: 70%;
    transition: 0.75s;
    transform: translate(-100%);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 6;
}

.sidebar.night {
    background: rgb(5, 14, 3);
    background: linear-gradient(146deg, rgba(5, 14, 3, 1) 40%, rgb(13, 34, 8) 80%, rgb(5, 43, 8) 95%);
    opacity: 95%;
    color: #e9edc9;
}

.show {
    transform: translate(0);
}

.sidebar h1 {
    margin: 0px;
    grid-column: span 1;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #023047;
    font-size: 1.7rem;
}

.sidebar p {
    margin: 0px;
    grid-column: span 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: red;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.sidebar p:hover {
    background-color: lightgray;
}

.sidebar p.night:hover {
    background-color: #0d2208;
}

.sidebar .space {
    grid-column: span 2;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 1.5rem;
    position: relative;
}

.sidebar ul li a {
    position: absolute;
    height: 100%;
    width: 105%;
    left: -30px;
}

.sidebar ul li:hover {
    border-left: 4px red solid;
    background-color: lightgray;
}

.sidebar ul li.night:hover {
    background-color: #0d2208;
}

/* ? Media queries for sidebar */

@media (max-width: 800px) {
    .sidebar {
        width: 35vw;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 50vw;
    }
}

@media (max-width: 450px) {
    .sidebar {
        width: 100vw;
        opacity: 80%;
    }
}

/* ? Close button */
#close {
    font-size: 1.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 70px;
    width: 70px;
}
